/* GENERAL */

:root {
  --text-color: #1a1c20;
  --link-color: #c22502;
  --background-color: #fcf6f8;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", system-ui, system-ui, serif;
  background-color: var(--background-color);
  opacity: 1;
}

#page-content {
  opacity: 0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Slide in from bottom */
.slide-in {
  animation-name: slideInFromBottom;
}

/* Slide out to bottom */
.slide-out {
  animation-name: slideOutToBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToBottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 300ms ease;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

.hero {
  display: flex;
  gap: 2rem;
  padding: 2rem 2rem;
  max-width: 650px;
  margin: auto;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 650px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
}

.hero-text a {
  color: #0657ae;
  text-decoration: none;
  line-height: 1.6;
}

.hero-text a:hover {
  color: gray; /* color on hover */
  transform: translateY(-5px);
}

/* NAVBAR */

nav {
  position: sticky;
  top: 0;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  z-index: 2;
}

nav a,
.nav-links li,
.nav-links {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding: 4px 12px 6px 12px;
  display: inline-block;
  color: inherit;
  border: 2px solid transparent;
  font-weight: normal;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav-links a .icon {
  visibility: hidden;
}

.nav-links a:hover {
  border: 2px solid rgba(119, 117, 117, 0.6);
  transform: translateY(-5px);
}

.nav-links a:hover .icon {
  visibility: visible;
  width: 14px;
  height: 14px;
}

.nav-links a.active {
  font-weight: bolder;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.nav-links a.active .icon {
  visibility: visible;
  width: 14px;
  height: 14px;
}

.home-icon {
  transition: transform 0.3s ease;
}

.home-icon:hover {
  transform: translateY(-5px);
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin: auto;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.social-links-container i {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-links-container i:hover {
  transform: translateY(-5px);
}

/* Blog Post Styles */
main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: var(--background-color);
  align-items: space-between;
  background: #fcf6f8;
  border-radius: 8px;
}

.highlight {
  transition: color 0.5s ease;
}

/* Engineer animation — starts early, ends with determination */
@keyframes highlightDistance {
  0%,
  10% {
    color: inherit;
  }
  10%,
  80% {
    color: #e67e22;
  } /* Orange */
  100% {
    color: inherit;
  }
}

/* Determination — starts later, but ends with engineer */
@keyframes highlightEngineer {
  0%,
  30% {
    color: inherit;
  }
  30%,
  80% {
    color: #f3246c;
  } /* Orange */
  100% {
    color: inherit;
  }
}

@keyframes highlightDetermination {
  0%,
  50% {
    color: inherit;
  }
  50%,
  80% {
    color: #00a2ff;
  } /* Teal */
  100% {
    color: inherit;
  }
}

#pixel {
  animation: highlightDistance 10s infinite;
}

#engineer {
  animation: highlightEngineer 10s infinite;
}

#determination {
  animation: highlightDetermination 10s infinite;
}

/*=============== CARD ===============*/
.card-grid {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.divider {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px; /* Add space around the images */
}

.divider img {
  height: 80px; /* Adjust as needed */
  transition: transform 0.3s ease;
}

.divider img:hover {
  transform: translateY(-5px);
}

article {
  max-width: 700px;
  padding: 40px;
  border-radius: 8px;
  margin-left: -80px; /* Slightly shift left */
}

article h1 {
  text-align: center;
  margin-bottom: 1rem;
}

article h2 {
  text-align: center;
  margin-bottom: 1rem;
}

article h3 {
  text-align: center;
  margin-bottom: 1rem;
}

article img {
  max-width: 100%; /* Ensure images do not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

article img:hover {
  transform: scale(1.02);
  filter: brightness(0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Style for GIF container */
.article-gif-container {
  display: flex;
  gap: 20px; /* Space between images */
  flex-wrap: wrap; /* Allow images to wrap */
  justify-content: center; /* Center images */
  margin-bottom: 1rem;
}

/* Style for individual figures (image + caption) */
.article-gif-container figure {
  max-width: 300px; /* Ensure images don't get too big */
  text-align: center; /* Center the caption under the image */
  margin: 0; /* Remove any margin around the figure */
}

/* Style for captions */
.article-gif-container figcaption {
  font-size: 1rem; /* Size of the caption text */
  color: #333; /* Caption color */
  line-height: 1.4; /* Space between lines of text in the caption */
}

.section-header {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Zen Kaku Gothic New", "Avenir", system-ui, serif;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Zen Kaku Gothic New", "Avenir", system-ui, serif;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Zen Kaku Gothic New", Georgia, system-ui, serif;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Add space after each section */
section {
  margin-bottom: 2em; /* Adjust this value as well */
}

select {
  margin-bottom: 0.8em;
  font-family: "Zen Kaku Gothic New", Georgia, system-ui, serif;
}

ul {
  margin-bottom: 1.5em;
  padding-left: 20px;
}

li {
  font-size: 18px;
  font-weight: 400;
}

aside {
  flex: 1;
  position: sticky;
  left: 0;
  width: 250px; /* Adjust width as needed */
  height: fit-content;
  overflow-y: auto; /* Scroll if needed */
  list-style: none;
  padding: 20px;
  background: linear-gradient(to bottom, #f5e6ca, #e3cfa5);
  background-size: cover;
  border: 10px solid #c2a66d; /* Gold-like border */
  border-radius: 20px;
  font-family: "Zen Kaku Gothic New", "EB Garamond", Georgia, serif;
  font-weight: bold;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  table-layout: auto;
  margin-bottom: 2em;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}
th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

td {
  background-color: #fafafa;
}

td:first-child {
  font-weight: bold;
}

#quick-nav {
  position: fixed;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  padding: 10px 15px;
  border-radius: 8px;
  z-index: 1;
}

#quick-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#quick-nav li {
  margin: 10px 0;
}

#quick-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Zen Kaku Gothic New", sans-serif;
  display: block;
  padding: 10px 10px;
  transition: 0.3s;
}

#quick-nav a:hover {
  background: #f69c4c;
  border-radius: 4px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 80%;
  max-height: 80vh;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 3;
  transition: color 0.2s;
}

.modal-close:hover {
  color: #aaa;
}

.mockup-row {
  display: flex;
  gap: 1em; /* space between images */
  justify-content: center; /* optional: center them */
  align-items: flex-start;
  flex-wrap: wrap; /* wrap on small screens */
}

.mockup-row img {
  height: 580px; /* adjust this value to make them smaller */
  width: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* optional: soft shadow */
}

.timeline {
  border-left: 3px solid #444;
  position: relative;
  max-width: 635px;
  margin: auto;
}

.timeline-entry {
  margin-bottom: 40px;
  position: relative;
}

.timeline-entry::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 33px;
  width: 12px;
  height: 12px;
  background: #3b82f6; /* default dot color */
  border-radius: 50%;
}

.timeline-entry.srch::before {
  background: #facc15;
}

.timeline-entry.hume::before {
  background: #22c55e;
}

.timeline-entry.founder::before {
  background: #ef4444;
}

.timeline-content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding-left: 16px;
}

.timeline-content a {
  color: black;
}

.timeline-text {
  flex: 1;
}

.timeline-img {
  width: 69px;
  height: 69px;
  border-radius: 12%;
  transition: transform 1s ease; /* Smooth flipping */
  transform-style: preserve-3d; /* Needed for 3D effect */
}

.timeline-img:hover {
  transform: rotateY(180deg); /* Flip horizontally */
}

.timeline-title {
  font-weight: bold;
  font-size: 18px;
}

.timeline-subtitle {
  font-style: bold;
  color: #000000;
}

.timeline-location {
  color: gray;
}

.timeline-desc {
  margin-top: 5px;
  color: gray;
}

.section-title {
  position: relative;
  max-width: 750px;
  margin-bottom: 1rem;
}

.section-description {
  position: relative;
  max-width: 700px;
}

.blog {
  position: relative;
  max-width: 650px;
  margin: auto;
}

.blog a {
  color: black;
}

.blog-entry {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
  transform-origin: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.blog-entry:hover {
  transform: scale(1.1); /* Slightly enlarge */
  opacity: 0.9; /* Optional: subtle fade */
  color: gray;
  cursor: default;
}

.blog-content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.blog-text {
  flex: 1;
}

.blog-img {
  width: 69px;
  height: 69px;
  border-radius: 12%;
}

.blog-title {
  font-weight: bold;
  font-size: 18px;
}

.blog-date {
  float: right;
  color: #888;
}

.blog-subtitle {
  font-style: bold;
  color: gray;
}

.blog-location {
  color: gray;
}

.blog-desc {
  margin-top: 5px;
  color: gray;
}

/* General tag style */
.tag {
  display: inline-block;
  padding: 4px 10px 6px 10px;
  margin: 5px 5px 16px 0px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Specific color coding for each skill */
.tag.react {
  background-color: #0471ba; /* blue */
}

.tag.html {
  background-color: #3498db; /* blue */
}

.tag.css {
  background-color: #27ae60; /* green */
}

.tag.interview {
  background-color: #53bb93;
}

.tag.webgl {
  background-color: #249775; /* blue */
}

.tag.fastai {
  background-color: #e43e0c; /* orange */
}

.tag.design {
  background-color: #e67e22; /* orange */
}

.tag.responsive {
  background-color: #fc3e4a;
}

.tag.evi {
  background-color: #d66bc5; /* blue */
}

.tag.resnet18 {
  background-color: #8926e1; /* blue */
}

.tag.figma {
  background-color: #fa2da5;
}

.tag.storyboarding {
  background-color: #412dfa;
}

.tag.state {
  background-color: #59576a;
}

.tag.godot {
  background-color: #478CBF;
}

.tag.procreate {
  background-color: #FF7DD0;
}

.tag.adviceslip {
  background-color: #1a9e15;
}

.tag.java {
  background-color: #F8991C;
}

.tag.firebase {
  background-color: #DE2C01;
}

.tag.javascript {
  background-color: #df7ef3;
}

.profile-container {
  display: flex;
  align-items: center;
  color: #000000;
  border-radius: 15px;
  max-width: 700px;
  margin: auto;
  padding-top: 2rem;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 12%;
  border: 2px solid black;
  object-fit: cover;
}

.profile-info {
  margin-left: 30px;
}

.profile-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.stats {
  list-style: none;
  padding: 0;
}

.stats li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.stats li strong {
  color: #000000;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1000px;
  margin: auto;
  padding-top: 2rem;
}

.project {
  border-left: 3px solid #444;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.project-info {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: flex-start;
}

.project-image img {
  max-width: 420px; /* adjust as needed */
  height: auto;
  border-radius: 4px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.project-image img:hover {
  transform: scale(1.02);
  filter: brightness(0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1; /* Take up remaining space */
}

.project-title {
  font-weight: bolder;
  margin-bottom: 0;
}

.project-description p {
  margin: 0;
}

.project-links {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
}

.expand-btn {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.expand-btn:hover {
  background-color: #555;
}

/* Expandable section */
.project-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0rem 1rem;
}

.project.expanded .project-body {
  max-height: 600px; /* or large enough to fit your content */
  padding: 1rem;
}

/* Spotify Section Styles */
.spotify-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem;
}

/* max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem; */

.spotify-header {
  width: 100%;
}

.spotify-toggle {
  display: flex;
  gap: 1rem;
}

.spotify-description {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #666;
  font-size: 0.9rem;
  margin: 0;
}

.toggle-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.toggle-btn:hover {
  background: #e0e0e0;
}

.toggle-btn.active {
  background: #1db954;
  color: white;
}

#spotify-data {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.top-tracks-container {
  display: flex;
  flex: 1;
  gap: 0.7rem;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.track {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
}

.top-track {
  flex: 1;
  height: 380px;
  width: 100%;
  max-width: 400px;
}

.other-tracks-list {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 100%;
  max-width: 300px;
}

.other-tracks-list .track {
  height: 80px;
  width: 100%;
  margin-bottom: 0.7rem;
}

.other-tracks-list .track:last-child {
  margin-bottom: 0;
}

.spotify-embed {
  border: none;
  height: 100%;
  width: 100%;
}

.error {
  color: #d32f2f;
  text-align: center;
  padding: 1rem;
  background: #ffebee;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .top-tracks-container {
    flex-direction: column;
    height: auto;
  }

  .other-tracks-list {
    width: 100%;
    height: auto;
  }

  .top-track {
    height: 380px;
  }
}

.recently-played-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.recently-played-list .track {
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .top-tracks-container {
    flex-direction: column;
  }

  .other-tracks-list {
    width: 100%;
  }

  .top-track {
    min-width: 100%;
  }

  .recently-played-list {
    grid-template-columns: 1fr;
  }
}

#art {
  max-width: 700px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#spotify-api {
  max-width: 700px;
  margin: auto;
  padding-top: 1rem;
}

#spotify-playlist {
  max-width: 700px;
  margin: auto;
  padding-top: 1rem;
}
