/* src/pages/Projects.css */
.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
}

.project-card {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h2 {
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #555;
}

.project-card:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
